<div class=" overflow-hidden">
  <h2 class="text-lg text-center font-semibold mb-4 text-text-primary">Controle de Acesso</h2>

  <div class="grid grid-cols-1 gap-3">
      <button
        (click)="onClick()"
        class="w-full p-4 rounded-xl flex items-center justify-between transition-all duration-200 border"
        [ngClass]="{
          'bg-neon-blue border-transparent shadow-neon-blue text-dark-navbar hover:shadow-[0_0_18px_rgba(0,231,249,0.6)] scale-[1.02]': !portaTrancada,
          'bg-dark-background border-[#1A233A] hover:border-neon-blue/50 text-text-secondary hover:text-text-primary': portaTrancada
        }">

        <div class="flex items-center gap-3">
          <lucide-angular
            [img]="portaTrancada? lockIcon : lockOpenIcon"
            class="w-6 h-6"
            [ngClass]="portaTrancada ? 'text-text-secondary' : 'text-dark-navbar'">
          </lucide-angular>

          <span class="font-semibold tracking-wide">Porta de Produção</span>
        </div>
      </button>
  </div>
</div>

