<div class="relative w-full h-full bg-black rounded-xl overflow-hidden">

  <!-- LIVE -->
  <span
    *ngIf="cameraActive"
    class="absolute top-2 left-2 px-2 py-1 text-xs font-semibold
           bg-red-600 text-white rounded-full z-10">
    LIVE
  </span>

  <!-- IMAGEM DA CÂMERA -->
  <img
    *ngIf="imageSrc; else desligada"
    [src]="imageSrc"
    class="w-full h-full object-cover"
    alt="Camera ao vivo"
  />

  <!-- CÂMERA DESLIGADA -->
  <ng-template #desligada>
    <div class="flex items-center justify-center h-full text-gray-400">
      <lucide-angular [img]="videoIcon" size="48"></lucide-angular>
    </div>
  </ng-template>

</div>
