<div class="flex flex-col items-center  p-6
            justify-center min-h-[200px] relative overflow-hidden">

  <h2 class="text-lg font-semibold text-text-primary mb-4 tracking-wide">
    Sensor de Presença
  </h2>

  <div class="flex flex-col items-center justify-center gap-3">

    <lucide-angular 
      [img]="presenceDetected ? personStandingIcon : radarIcon"
      class="w-20 h-20 transition-all duration-300"
      [ngClass]="presenceDetected 
        ? 'text-neon-blue drop-shadow-[0_0_6px_#00E7F9]' 
        : 'text-text-secondary'">
    </lucide-angular>

    <span 
      class="text-xl text-center font-bold tracking-wide transition-all"
      [ngClass]="presenceDetected 
        ? 'text-neon-blue' 
        : 'text-text-secondary'">
      {{ presenceDetected ? 'Movimento Detectado!' : 'Nenhuma Presença' }}
    </span>

    <div *ngIf="presenceDetected" 
         class="absolute w-32 h-32 rounded-full bg-neon-blue/10 blur-xl animate-ping">
    </div>

    <div *ngIf="presenceDetected" 
         class="absolute inset-0 border border-neon-blue/40 animate-pulse rounded-2xl pointer-events-none">
    </div>
    

  </div>
</div>
